<html>
<head><title>Calculate Cone</title></head>
<body>
<style> .button {background-color: #00a4db; color: black; border: double;} /* Blue */ </style>
    <h3>Calculate Cone</h3>
<form action="{{ url_for("coneForm")}}" method="post">
    <label for="radius">Please Enter the radius:</label>
    <input type="text" id="radius" name="rad" placeholder="radius">
    <p></p>
</br>
    <label for="height">Please Enter the height:</label>
    <input type="text" id="height" name="hgt" placeholder="height">
<p></p>
    <button class = "button" type="submit">Calculate Slant, Surface Area, Volume, and Lateral Surface Area</button>
<p></p>
    <br><button class = "button"><a href="/">Home</a></button>
</form>
</body>
</html>