<html>
<head><title>Calculate Sphere</title></head>
<body>
<style> .button {background-color: #00a4db; color: black; border: double;} /* Blue */ </style>
    <h3>Calculate Sphere</h3>

<form action="{{ url_for("sphereForm")}}" method="post">
    <label for="radius">Please Enter the radius:</label>
    <input type="text" id="radius" name="rad" placeholder="radius">
    <p></p>
<p></p>
    <button class = "button" type="submit">Calculate Volume and Surface Area</button>
<p></p>
    <br><button class = "button"><a href="/">Home</a></button>
</form>
</body>
</html>